@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Page";
    Layout = "_Layout";
}
<form asp-controller="User" asp-action="Create" method="post">
    <label class="form-label" for="email">Email:</label>
    <input class="form-control" type="email" id="email" name="email" required />
    <br />
    <label class="form-label" for="password">Password:</label>
    <input class="form-control" type="password" id="password" name="password" required />
    <br />
    <button class="btn btn-success" type="submit">Create</button>
</form>
