@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Role";
    Layout = "_Layout";
}
<form asp-controller="User" asp-action="CreateRole" method="post">
    <label class="form-label" for="roleName">RoleName:</label>
    <input class="form-control" type="text" id="roleName" name="roleName" required />
    <br />
    <button class="btn btn-success" type="submit">Create role</button>
</form>
