@using Microsoft.AspNetCore.Identity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop_app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shop_app.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">
                <a asp-controller="Products" asp-action="Index" class="btn btn-dark">Read Products</a>
            </li>
        </ul>
        @if(User.Identity.IsAuthenticated)
        {
            <span>Hello, @User.Identity.Name</span>
            <form asp-action="Logout" asp-controller="User" method="post">
                <button type="submit" class="btn btn-danger">Exit</button>
            </form>
        }
        else
        {
            <div>
                <a href="/" class="btn btn-primary">Home</a>
                <a asp-controller="User" asp-action="Create" class="btn btn-primary">Register</a>
                <a asp-controller="User" asp-action="Login" class="btn btn-primary">Auth</a>
            </div>
        }
        @if(User.IsInRole("admin"))
        {
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Products" asp-action="Create" class="btn btn-success">Create Product</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Products" asp-action="Update" class="btn btn-warning">Update Product</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Products" asp-action="Delete" class="btn btn-danger">Delete Product</a>
            </li>
        </ul>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Shop_app
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
